.content {
  font-family: sans-serif;
  font-size: 20px;
}

body {
  font-family: sans-serif;

}

span {
  padding: 5px;
}

h1 {
  font-family: inherit;
}

input.pattern {
  font-size: 20px;
  width: 100%;
}

:root {
  color-scheme: light dark;
}

div.option {
  margin-bottom: 40px;
  display: grid;
}

div.option>label {
  padding-bottom: 20px;
}

div.option>label>span.mandatory {
  color: red;
}

#csv-fields {
  .row {
    .cell {
      border: 1px solid black;
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}


.selected {
  display: grid;
  padding: 10px;
  grid-template-columns: 60px;

  .actions {
    grid-column: 1;
  }

  .name {
    grid-column: 2;
  }
}

button.remove {
  height: 27px;
  width: 42px;
  border: 0;
  border-radius: 13px;
  background: #e84040;
  color: white;
}

.table {
  display: table;

  div {
    padding: 5px;
  }
}

.row {
  display: table-row;
}

.cell {
  padding: 5px;
  font-size: 15px;
  display: table-cell;
  border: 1px #333;
}

.col {
  display: table-caption;
}

button.submit {
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  color: #ffffff;
  background: #426afa;
  border: 0;
}